<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrieve your password</title>
</head>
<body>


    <%let msg = ""; %>

    <%if(err_forget_email == 1){
        msg = "Account not found with this email";
        err_forget_email = 0; //reset for further registrations
    }%>

    <%if(err_forget_sec_que == 1){
        msg = "Wrong details entered for this account, Please try again !"
        err_forget_sec_que = 0; //reset for further registrations
    }%>

    <h5><%=msg%></h5>

    <!-- now here i will collect the data from the form if it will correct then i will give him option to change the password 
     and here my sql query will apply-->
     <h2>Retrive Your old Password or set new password</h2>
     
     <!-- now here you did not require to give anything in action because you want to make post request on the same url from 
      where you came because in ejs jis url se me aaya hu ussi url se mera aage action wala url combined hoga -->
     <form action="" method="post">
        <input type="email" placeholder="Enter email" name="email">
        <br>
        <select name="security_que_1" id="">
            <option value="" selected disabled>Select Security question</option>
            <option value="what is your pet name">what is your pet name</option>
            <option value="Who was your favorite teacher?">Who was your favorite teacher?</option>
            <option value="What was your first job?">What was your first job?</option>
            <option value="What is your favorite food?">What is your favorite food?</option>
        </select>
        <br>
        <input type="text" placeholder="Answer of security question" name="ans_sec_que_1">
        <br>
        <input type="password" placeholder="Enter new password" name="new_password">
        <br>
        <button type="submit">Reset Password</button>
     </form>
</body>
</html>