<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>Student Result Management System</h2>
    <a href="/courses">Courses</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/students">Students</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/results">Add Results</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/view_results">View Results</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/login">Log out</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</body>
</html>