<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <!-- we will show here list of all students -->
    <a href="/add_student">Add Student</a>
    <br><br>
    
    <!-- make a search button show that admin can search student just by its roll no -->
    <%let msg = "";
    if(err_search_stu_roll_no == 1){
        msg = "Student data not found enter correct roll no.";
        err_search_stu_roll_no = 0;
    }%>

    <h4><%=msg%></h4>

    <form action="/student" method="post">
        <input type="number" name="roll_no" id="" placeholder="Enter roll number">
        <button type="submit">Search student</button>
    </form>
    <br><br>
    <table border="2px solid black">
        <thead>
            <th>Roll_No</th>
            <th>Name</th>
            <th>Course</th>
        </thead>
        <tbody>
            <%for(let i = 0; i < students.length; i++){%>
                <%const {roll_no,name,course} = students[i];%>
                <tr>
                <td><%=roll_no%></td>
                <td><%=name%></td>
                <td><%=course%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>